@media screen and (max-width:600px) {
    .navbar{
        padding: 0;
    }
    .nav-title{
        top: 30px;
        left:30px;
    }
    .nav-links{
        flex-direction: row;
        justify-content: center;
        margin-top: -900px;
    }
     .mobile-menu{
        margin-top: 0px;
    }
    .nav-links li {
        margin:20px auto;
    }
   .menu-btn{
        margin-top: 0px;
        display: block;
    }
    .banner{
        width:500px;
        height: 400px;
    }
    
   .banner-title{
    font-size: 40px;
    font-weight: 400;
    margin-top: 40px;
}
.banner-prg{
    width: 400px;   
}
.btn-pry{
    flex-direction: column;
    margin-top:10px;
    margin-left: 100px;
    width: 300px; 
    height: 200px;  
}
button{
    width: 280px;
    height: 60px;  
} 
.wh-img{
    gap: 180px;
}
.img-s{
     gap: 150px;
}
.btn-df{
    gap: 10px;
    padding-left:80px ;
}
.tours-container{
    flex-direction: column;    
}
.toure-cnt{ 
    margin-left: 50px;
    margin-bottom: 10px;     
}
.rd-btn{
   font-size:20px;
} 
.tours-container img{
    margin-left:50px; 
}

.destination{
    margin-top: 70px;
}
.img-row1{
    flex-direction: column;
    margin-left:40px;
}
.img-row1 img{
    width:500px;
    height:300px;
}

.dest-title{
    font-size:30px ;
    margin-left: 90px;
}
.dest-desct{
    margin-left: 100px;
}

.img-content{ 
   display: flex;
   flex-direction: column;
}
.img-card{
    width: 460px;
    height: 330px;
    margin-left: -80px;
}
.img-card img{
    width: 460px;
    height:250px;
    border-radius: 5px;
}
.rating img{
    width:10px;
    height: 10px;   
}
.service{
    margin-top: 70px;
   
}
.serv-desct{
    margin-top: 30px;
    margin-left: 90px;
    width:400px;
}
.servs-box {
    flex-basis: 490px ;
    margin-left: -90px;
    margin-bottom: 25px;
}
.servs-box1{
    flex-basis: 490px; 
    margin-left: -20px;
    margin-bottom: 10px;
}
.servs-box2{
    flex-basis: 490px;
    margin-top: 20px;
    margin-left: -20px;
}
.sign-up{
    flex-direction: column;
}

.from-singup{
    width: 494px;
    margin-left: 50px;
}
.from-singup input{
    width: 400px;
    height: 50px;
    padding: 0 10px;
    margin: 10px 40px;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}
.from-singup button{
    width: 410px;   
}
.img{
    width: 490px;
    margin-left: 60px;
}
.travel-com{
    margin-left: 290px;
    
}

.star-travel{
    height: 360px;
    margin-top: 60px;
 }
 .footer-ctan h1{
     text-align: center;
     margin-top: 50px;
     margin-bottom: 10px;
 }
 .ftr-discp{
     margin-left: 90px;
 }
 .footer-icon{
     margin-left: 180px;
     margin-top: 30px;
 }
 .ftr-end{
     margin-left: 180px;
     margin-top: 40px;
 }
    
}