@media screen and (max-width:600px) {
    .navbar{
        padding: 0;
    }
    .nav-title{
        top: 30px;
        left:90px;
    }
    .nav-links{
        flex-direction: row;
        justify-content: center;
        margin-top: -900px;
    }
     .mobile-menu{
        margin-top: 0px;
    }
    .nav-links li {
        margin:20px auto;
    }
   .menu-btn{
        margin-top: 0px;
        display: block;
    }
    .banner{
        width:370px;
        height: 320px;
        margin-right: 800px;
    }
    
   .banner-title{
    font-size: 30px;
    font-weight: 400;
    margin-top: 40px;
}
.banner-prg{
    width: 400px;   
}
.btn-pry{
    flex-direction: column;
    margin-top:10px;
    margin-left: 40px;
    width: 300px; 
    height: 130px;  
}
button{
    width: 280px;
    height: 60px;  
} 
.wh-img{
    gap: 180px;
}
.img-s{
     gap: 150px;
}
.btn-df{
    gap: 10px;
    padding-left:80px ;
}
.tours-container{
    flex-direction: column;    
}
.toure-dscp{
    width: 300px;
    padding: 0 20px;
}
.toure-cnt{ 
    margin-left: 50px;
    margin-bottom: 10px;     
}
.rd-btn{
   font-size:20px;
} 
.tours-container img{
    margin-left:50px;
    width: 350px;
    height: 250px; 
}

.destination{
    margin-top: 70px;
}
.img-row1{
    flex-direction: column;
    margin-left:40px;
}
.img-row1 img{
    width:350px;
    height:200px;
}

.dest-title{
    font-size:30px ;
    margin-left: 60px;
}
.dest-desct{
    width: 300px;
    margin-left: 80px;
}

.img-content{ 
   display: flex;
   flex-direction: column;
}
.img-card{
    width: 300px;
    height: 270px;
    margin-left: -90px;
}
.img-card img{
    width: 300px;
    height:200px;
    border-radius: 5px;
}
.rating img{
    width:10px;
    height: 10px;   
}
.service{
    margin-top: 70px;
   
}
.serv-desct{
    margin-top: 30px;
    margin-left: 90px;
    width:300px;
}
.servs-box {
    flex-basis: 400px ;
    margin-left: -90px;
    margin-bottom: 25px;
}
.servs-box1{
    flex-basis: 400px; 
    margin-left: -20px;
    margin-bottom: 10px;
}
.servs-box2{
    flex-basis: 400px;
    margin-top: 20px;
    margin-left: -20px;
}
.sign-up{
    flex-direction: column;
}

.from-singup{
    width: 370px;
    margin-left: 40px;
}
.from-singup input{
    width: 300px;
    height: 30px;
    padding: 0 10px;
    margin: 10px 30px;
    background: rgba(19, 19, 24, 0.05);
}
.from-singup button{
    width: 300px;
    height: 40px;   
}
.img{
    width: 370px;
    margin-left: 40px;
}
.travel-com{
    margin-left: 155px;
    
}

.star-travel{
    height: 360px;
    margin-top: 60px;
 }
 .s-icon{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
 }
 .ftr-discp{
    width: 300px;
     margin-left: 60px;
 }
 .footer-icon{
     margin-left: 120px;
     margin-top: 30px;
 }
 .ftr-end{
     margin-left: 120px;
     margin-top: 10px;
 }
 .h-line{
    margin-left: 100px;

}
    
}